html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#partyzone {
    background-color: midnightblue;
    min-height: 100%;
}

#cursorparty-header {
    text-align: center;
    color: white;
    padding-top: 20%;
    padding-bottom: 1%;
    margin: 0;
}

#join-button {
    margin: auto;
    width: auto;
    display: block;
}