html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.partyzone {
    background-color: midnightblue;
    min-height: 100%;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 20%;
    padding-bottom: 1%;
    margin: 0;
}

button {
    margin: auto;
    width: auto;
    display: block;
}